* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: rgba(100, 115, 255, 1)
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 90%;
  max-width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

@media(max-width: 767px) {
  .App {
    margin: 20px auto!important;
  }
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.item-text {
  text-align: left;
}

.list-form {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.drink-input {
  font-size: 20px;
  padding: 0 10px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 50%;
  background: transparent;
  color: #fff;
}

.drink-input::placeholder {
  color: #e2e2e2;
}

.range-slider {
  font-size: 20px;
  display: inline-block;
  border: 2px solid #5d0cff;
  outline: none;
  width: fit-content;
  background: transparent;
  color: white;
  padding: 10px 5px;
  width: fit-content;
}

.range-slider .drink-rank {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  width: 50px;
}

input[type=number] {
  -moz-appearance: textfield !important;
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.range-slider .range-slider-value {
  width: 50px;
  padding-right: 5px;
}

.range-slider.edit {
  border: 2px solid #149fff;
}

.list-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.drink-input.edit {
  border: 2px solid #149fff;
}

.list-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.item-row {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 10px 0 10px 10px;
  border-radius: 5px;
  width: 95%;
}

.item-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.item-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.item-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.item-info {
  display: inline-block;
  text-align: center;
  min-width: 90px;
  width: fix-content;
  padding-right: 5px;
}

.rank {
  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
  font-size: 20px;
  margin: auto;
  text-align: center;
}

.icons {
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
  color: white;
}

.edit-icon {
  margin: 0 5px;
}